.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ff7b77;
    border-radius: 10px;
    margin-top: 150px;
}

.loginContainer input,
button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: none;
    margin: 10px;
}

.loginContainer button {
    background-color: #ff7b77;
    color: white;
}

.loginContainer input {
    border: 2px solid #ff7b77;
}