.postImage {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}



.comment {
    display: flex;
    flex-direction: column;
    background: #ff7b77;
    color: white;
    justify-content: center;

}


.comment button {
    background: rgb(249, 75, 75);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    color: white;
    margin: 0 auto;
}

button:hover {
    transform: scale(1.1);
}

.comment label {
    border: 5px solid white;
    border-radius: 5px;
}